body {
    background-color: #faf0dc;
    color: black;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
    color: #a4161a;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #5f5e5e;
    margin-bottom: 15px;
}

img {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

encabezadin {
   text-align: center;
}

form {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

input, select, textarea {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #a4161a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
